body {
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(rgb(19, 17, 34) 60%, rgb(4, 4, 4));
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 892px;
}

.slider {
  margin-top: 40px;
  position: relative;
  height: 132px;
  overflow: hidden;
}

.slider-list {
  height: 100%;
  display: flex;
  gap: 15px;
  width: 100%;
  transition: 0.4s;
}

.list-item {
  box-sizing: border-box;
  text-align: center;
  flex: 0 0 212px;
  box-shadow: inset 0 0 4px rgb(19, 17, 34);
  overflow: hidden;
  cursor: pointer;
}

.list-item img{
  height: 100%;
  width: 212px;
  transform: scale(1.2);
}

.btn-slider {
  position: absolute;
  display: grid;
  align-content: center;
  width: 50px;
  height: 100%;
}

.btn-slider:hover .arrow {
  border-bottom: 3px solid rgba(255, 255, 255, 1);
  border-left: 3px solid rgba(255, 255, 255, 1);
}

.btn-back {
  background: linear-gradient(90deg, rgb(19, 17, 34, .6), rgb(19, 17, 34, .01));
  left: 0;
  top: 0;
}

.btn-back:hover {
  background: linear-gradient(90deg, rgb(19, 17, 34, .9), rgb(0, 0, 0, 0.04));
}

.btn-next {
  background: linear-gradient(270deg, rgb(19, 17, 34, .6), rgb(19, 17, 34, .01));
  right: 0;
  top: 0;
}

.btn-next:hover {
  background: linear-gradient(270deg, rgb(19, 17, 34, .9), rgb(0, 0, 0, 0.04));
  right: 0;
  top: 0;
}

.arrow {
  position: relative;
  display: block;
  height: 25px;
  width: 25px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  border-left: 3px solid rgba(255, 255, 255, 0.5);
}

.arrow-left { 
  left: 16px;
  transform: rotate(45deg);
}

.arrow-right { 
  left: 8px;
  transform: rotate(225deg);
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: 90%;
  height: max-content; */
  margin: 0;
  padding: 20px 60px;
  color: #fff;
  background-color: #141313;
  border: none;
}

.player {
  height: 600px;
  width: 1060px;
}

.btn-close { 
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  top: 15px;
  background-color: #ffffff00;
}

.btn-close .tt, .btn-close .bb {
  position: absolute;
  display: inline-block;
  width: 100%;
  border-bottom: 3px solid #fff;
  left: 0%;
  top: calc(50% - 2px);
}

.btn-close .tt {
  transform: rotate(45deg);
}

.btn-close .bb {
  transform: rotate(-45deg);
}

.popup-nav {
  display: flex;
  margin: 20px auto 0;
  width: 350px;
  justify-content: space-between;
}

.popup-item {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.popup-item.current {
  transform: scale(1.8);
}